.login-esquerda{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.card-login{
    width: 35vw;
    height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-radius: 30px;
    background: radial-gradient(circle, rgba(163,160,160,0) 0%, rgba(149,139,139,0.6222864145658263) 100%);
}

.textos1{
    font-weight: bold !important;
}

.imagem{
    background-image: url(https://cdn.pixabay.com/photo/2015/10/02/15/00/diary-968592_960_720.jpg); 
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.text-decorator-none{
    text-decoration: none;
}

.bg-login{
    background-color: rgb(221, 215, 215) !important;
 
}
