.titulo {
    color: rgb(59, 55, 55) !important;
    font-weight: "bold" !important;
}

.botao {
    border-color: rgb(59, 55, 55) !important;
    background-color: rgb(190, 183, 183) !important;
    color: rgb(59, 55, 55)!important;
}

.postagens {
    background-color: white;
}

.text-decorator-none{
    text-decoration: none;
}